[submodule "Blocker/vendor/spdlog"]
	path = Blocker/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Blocker/vendor/GLFW"]
	path = Blocker/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Blocker/vendor/imgui"]
	path = Blocker/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
